
@{
    ViewData["Title"] = ViewBag.Statuscode;
}

<div class="jumbotron text-danger">
    <h1>@ViewData["Error Message"]</h1>
</div>
<hr/>
Click Here<a asp-controller="Products" asp-action="Index" class="btn btn-outline-secondary">Product Page</a>
